<section class="hero">
  <div class="container hero-container">
    <div class="hero-left-content">
      <img src="/img/hero/hero-mask.png" alt="Maska" />
      <!-- <img src="/img/hero/clients.png" alt="Clients" /> -->
      <p class="hero-clients">Our Clients</p>
      <img src="/img/hero/hero-man.png" alt="Owner" />
      <img src="/img/hero/hero-yaht.png" alt="Yacht" />
      <div class="hero-left-sign">
        <p class="hero-left-digit">$12M</p>
        <p class="hero-left-text">
          Book now and make your dream yacht rental a reality
        </p>
      </div>
    </div>
    <div class="hero-right-content">
      <h1 class="title">
        Explore the High Seas with
        <span class="hero-right-accent">Our Luxury Yacht</span> Rentals
      </h1>
      <p class="hero-right-text">
        Experience the freedom and luxury of yachting on the open seas. Choose
        from our top-of-the-line yachts and embark on an unforgettable journey
        surrounded by breathtaking views and state-of-the-art amenities.
      </p>
      <ul class="hero-right-list">
        <li>
          <button class="btn hero-right-btn1" type="button">Get Started</button>
        </li>
        <li>
          <button class="btn hero-right-btn2" type="button">Explore</button>
        </li>
      </ul>
    </div>
  </div>
</section>
