.footer {
  padding-top: 64px;
}
.footer-container {
  position: relative;
  padding-top: 64px;
}
.footer-container::after {
  content: '';
  position: absolute;
  display: inline-block;
  top: 0;
  left: 32px;
  right: 32px;
  height: 1px;
  background-color: rgba(246, 245, 239, 0.2);
}
.footer-wraper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 132px;
}
.footer-logo {
  display: flex;
  gap: 8px;
}
/* .footer-logo-img {
} */
.footer-logo-text {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.18;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}
/* .footer-nav {
} */
.footer-nav-list {
  display: flex;
  gap: 24px;
}
.footer-nav-item {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
/* .footer-nav-link {
  
} */
.footer-social {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.footer-social-list {
  display: flex;
  gap: 16px;
}
/* .footer-social-item {
} */
.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 6px;
  border: 1px solid rgba(246, 245, 239, 0.5);
}
.footer-social-icon {
  fill: var(--main-text-color);
}
.footer-social-link:hover {
  border-color: teal;
}
.footer-social-link:hover .footer-social-icon {
  fill: teal;
}
.footer-privacy {
  display: flex;
  justify-content: center;
  gap: 32px;

  font-size: 14px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  opacity: 0.5;
}
