/* .header {} */

.header-container {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-container::after {
  content: '';
  position: absolute;
  display: inline-block;
  bottom: 0;
  left: 32px;
  right: 32px;
  height: 1px;
  background-color: rgba(246, 245, 239, 0.2);
}
.header-logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header-logo-text {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.18;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.header-nav {
  display: flex;
}

.header-nav-list {
  display: flex;
  gap: 24px;
  align-items: center;
}

.header-nav-item {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-nav-link {
  padding: 32px 0;
}

.header-nav-link:hover,
.header-nav-link:focus,
.header-logo:hover,
.header-logo:focus {
  /* color: var(--accent-bg-color); */
  background: var(--accent-text-color);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* .header-underline {
} */
