.hero {
  padding-top: 64px;
}

.hero-container {
  display: flex;
  justify-content: space-between;
}
/* .hero-left-content {
  color: var(--secondary-text-color);
} */
.hero-clients {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  /* color: var(--secondary-text-color); */
}
.hero-left-digit {
  font-size: 60px;
  line-height: 1.1;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}
.hero-left-text {
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: -0.04em;
  color: var(--secondary-text-color);
}
.hero-right-content {
  width: 554px;
}
.hero-right-accent {
  font-style: italic;
  background: var(--accent-text-color);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero-right-text {
  margin-top: 16px;
  margin-bottom: 32px;
}
.hero-right-list {
  display: flex;
  gap: 11px;
}
.hero-right-btn1 {
  background-color: var(--button-bg-color);
  border: none;
  min-width: 152px;
  padding: 14px 28px;
}
.hero-right-btn1:hover,
.hero-right-btn1:focus {
  background-color: var(--accent-bg-color);
}
.hero-right-btn2 {
  min-width: 118px;
}
.hero-right-btn2:hover,
.hero-right-btn2:focus {
  color: var(--button-bg-color);
  border-color: var(--button-bg-color);
}
